# Local files
.DS_Store
.thumbsdb
.svn
init.sh
templates/*
wp-content/languages/*

# Theme and Plugin handling
#
# Ignore the parent, but explicitly exclude (from ignore)
# any themes or plugins we wish to source control.
#
# example exclusion:
#
# !wp-content/plugins/jetpack
# !wp-content/mu-plugins/hello.php
# !wp-content/themes/twentyseventeen
#
wp-content/plugins/*

wp-content/mu-plugins/*
!wp-content/mu-plugins/mu-loader.php



wp-content/themes/*
!wp-content/themes/yuki-cyber-blog-child



# Other wp-content exclusions
wp-content/upgrade/*
wp-content/uploads/*
