#login {
	width: 380px;
}
.anchListOfBadges {
	color: #5172a3 !important;
}
.divSubmitCancelBlend button.btnDissaprove {
	background-color: #ca372e !important;
	border-color: #ca372e !important;
}
.divSuggestedValue {
	color: red; /* RRC - make this better */
}
/*
font-family: Rubik;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  color: #5172a3;

font-family: Rubik;
  font-size: 14px;
  font-weight: 600 !important;
  font-style: normal;
  line-height: 1.5;
  color: #5172a3 !important;
*/

.divBlendProfileWrapper.detailProfile {
	gap: 13px;
}
#checkbox-columns-country,
#checkbox-columns-flavors,
#checkbox-columns-cut,
#checkbox-columns-strength,
#checkbox-columns-flavor-strength {
  column-count: 3;
  width: 100%;
}
.divClickToShowHideOnSearchPage:hover {
	cursor: pointer;
	background-color: gray;
}
.anchExcludeAll i {
	color: red;
	font-size: 14px;
}
.divClickToShowHide {
	cursor: pointer;
}
.divCollapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.divCollapsible.open {
    max-height: 100%; 
}
.iconRequiredField {
    color: red; 
    font-size: 70%; 
    position: relative; 
    top: -5px; 
}


div div.divRetailCurrentStatsWrapper.divRetailStatsFixed {
	margin-bottom: 20px;
	width: 40%;
	margin: 20px auto;
	min-width: 270px;
	transition: width 0.3s ease; 

}
div div.divRetailCurrentStatsWrapper.divRetailStatsFixed.fixed {
    position: fixed;
    top: 20px;
    left: 20px;
	width: 270px;
}
#divBlendDisplayCountWrapper {
	width: 100px;
	float: right;
	margin: 0px;
	margin-top: 20px;
}
.divUserProfileLinkBanner {
	position: relative;
}
.spanIndicatorDot {
	color: white;
	font-size: 20px;
	position: absolute;
	left: 2px;
	top: 24px;
}
.spanModerateBlend {
    background: gray;
    display: inline-block;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    text-align: center;
}
.spanModerateBlendSome {
	color: green;
}
.spanModerateBlendNone {
	color: black;
}

.spanCheckboxLabel.excluded {
    text-decoration: line-through;
    color: #ccc; /* or any other color you prefer for excluded items */
}
.spanExclude {
    color: red;
    cursor: pointer;
}
.divStarBarWrapper.current .anchClickToFilterReviews {
	text-decoration: underline;
	color: #5172A3 !important;
}
.divStarBarWrapper.current .rating_filled_bar {
	background-color: #5172A3 !important;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5172a3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5172a3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.divYesNoSwitchWrapper {
	display: flex;
}
.spanYesNoSwitchDescription {
	font-size: 22px;
	padding-left: 10px;
}


.div.upvote-container {
	margin-bottom: 15px;
}
.fl-node-byk3evxd6410 > .fl-col-content {
//width:70%;
}


#checkbox-columns-content .divIndividualCheckboxWrapper label, #checkbox-columns-flavoring .divIndividualCheckboxWrapper label {
	width: auto;
	font-weight: 500;
}

#divPackagingInputWrapper input {
	width: 10%;
}

.imgLoadingGif {
	width: 36px;
	height: 36px;
}
.divShowOnSubmit {
	
    height: 64px;
	width: 90px;
    padding: 12px 16px;
    align-items: center;
    border: 2px solid #5172a3;
    border-radius: 8px;
    text-align: center !important;
    color: #fff;
	background: #2b4975 !important;
	display:flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.divShareLinkWrapper {
	display: inline-block;
	float: right;
}

.pagination {
    font-family: Rubik;
    font-size: 16px;
    text-align: center;
    display:flex;
    justify-content:center;
}

.btn {
    font-size: 16px!important;
    font-family: Rubik;
    padding: 10px 42px 10px 42px!important;
    background-color: #5172A3!important;
    border: 0px!important;
    border-radius: 10px!important;
    margin-left: 12px;
    margin-bottom: 20px;
}

.form-control {
    font-size: 16px!important;
    font-family: Rubik;
    background-color: #FFFFFF!important;
    height: 100%!important;
    padding-left: 20px!important;
    margin-top: -20px;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}
.tobacco-review-form-container select, .tobacco-review-form-container input[type="text"] {
	height: 64px !important;
}

.brandTableRows {
    font-family: Rubik;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
	 .brandTableHeader {
	 	display: none;
	 }
	 td {
	 	display: block;
	 	width: 100%;
	 	text-align: right;
	 }

	 .td:before {
	 	content: attr(data-label);
	 	float: left;
	 	font-weight: bold;
	 }
	/* BRAND DETAILS TABLE MOBILE LABELS */	
	.divTableWrapperBlendDetails td:before { content: " "; }	
	/* BRAND TABLE MOBILE LABELS */
	.divBrandTableWrapper td:nth-of-type(1):before { content: "Brand: "; }
	.divBrandTableWrapper td:nth-of-type(2):before { content: "Blends: "; }
	.divBrandTableWrapper td:nth-of-type(3):before { content: "Reviews: "; }
	/* BLEND TABLE MOBILE LABELS */
	.divBlendTableWrapper td:nth-of-type(1):before { content: "Blend: "; }
	.divBlendTableWrapper td:nth-of-type(2):before { content: "Reviews: "; }
	.divBlendTableWrapper td:nth-of-type(3):before { content: "Avg. Rating: "; }
	.divBlendTableWrapper td:nth-of-type(4):before { content: "Blend Type: "; }
	/* RECENT BLEND TABLE MOBILE LABELS */
	.divRecentBlendWrapper td:nth-of-type(1):before { content: "Blend: "; }
	.divRecentBlendWrapper td:nth-of-type(2):before { content: "Added: "; }
	.divRecentBlendWrapper td:nth-of-type(3):before { content: "Blended By: "; }
	/* BADGE DETAIL TABLE MOBILE LABELS */	
	.tblUserOnBadgeTable td:nth-of-type(1):before { content: "User: "; }
	/*.tblUserOnBadgeTable td:nth-of-type(2):before { content: "Reviews: "; }*/
	.tblUserOnBadgeTable td:nth-of-type(2):before { content: "Earned: "; }
	.tblUserOnBadgeTable td:nth-of-type(3):before { content: "Joined: "; }
	.tblUserOnBadgeTable td:nth-of-type(4):before { content: "Other Badges: "; }
	/* REVIEW TABLE MOBILE LABELS */
	.divUserReviewTableWrapper td:nth-of-type(1):before { content: "Blend: "; }
	.divUserReviewTableWrapper td:nth-of-type(2):before { content: ""; }
	.divUserReviewTableWrapper td:nth-of-type(3):before { content: "Updated On: "; }
	.divUserReviewTableWrapper td:nth-of-type(4):before { content: "Upvotes: "; }
	/* BRAND BLEND LIST TABLE MOBILE LABELS */
	.tblBrandBlendList td:nth-of-type(1):before { content: "Blend: "; }
	.tblBrandBlendList td:nth-of-type(2):before { content: "# Reviews";}
	.tblBrandBlendList td:nth-of-type(3):before { content: "Avg. Rating "; }
	.tblBrandBlendList td:nth-of-type(4):before { content: "# Favorites"; }
	.tblBrandBlendList td:nth-of-type(5):before { content: "Blend Type:"; }
	/* REVIEW LIST (SEARCH OR INDEX) TABLE MOBILE LABELS */
	.divReviewTableWrapper td:nth-of-type(1):before { content: "Blend :"; }
	.divReviewTableWrapper td:nth-of-type(2):before { content: "Rating:"; }
	.divReviewTableWrapper td:nth-of-type(3):before { content: "User"; }
	.divReviewTableWrapper td:nth-of-type(4):before { content: " "; }
	.divReviewTableWrapper td:nth-of-type(5):before { content: "# Upvotes"; }
	/* USER REVIEW LIST TABLE MOBILE LABELS */
	.divUserReviewTableWrapper td:nth-of-type(1):before { content: "Blend: "; }
	.divUserReviewTableWrapper td:nth-of-type(2):before { content: "Rating: "; }
	.divUserReviewTableWrapper td:nth-of-type(3):before { content: "Updated"; }
	.divUserReviewTableWrapper td:nth-of-type(4):before { content: "# Upvotes"; }
	.divUserReviewTableWrapper td:nth-of-type(5):before { content: " "; }
	/* INDIVIDUAL REVIEW TABLE MOBILE LABELS */
	.tblIndividualReview td:nth-of-type(1):before { content: " "; }
	.tblIndividualReview td:nth-of-type(2):before { content: " "; }
	.tblIndividualReview td:nth-of-type(3):before { content: "Rating"; }
	.tblIndividualReview td:nth-of-type(4):before { content: "Strength"; }
	.tblIndividualReview td:nth-of-type(5):before { content: "Flavoring"; }
	.tblIndividualReview td:nth-of-type(6):before { content: "Taste"; }	
	.tblIndividualReview td:nth-of-type(7):before { content: "Room Note"; }	
	/* USERS WISHLIST TABLE MOBILE LABELS */
	.tblUserWishList td:nth-of-type(1):before { content: " "; }
	.tblUserWishList td:nth-of-type(2):before { content: " "; }
	/* USERS FAVORITE TABLE MOBILE LABELS */
	.tblUserFavorites td:nth-of-type(1):before { content: " "; }
	.tblUserFavorites td:nth-of-type(2):before { content: " "; }
	/* USER REVIEW TABLE MOBILE LABELS */
	.divUserSpecificReviewTableWrapper. td:nth-of-type(1):before { content: "Blend :"; }
	.divUserSpecificReviewTableWrapper td:nth-of-type(2):before { content: "Rating:"; }
	.divUserSpecificReviewTableWrapper td:nth-of-type(3):before { content: "Updated"; }
	.divUserSpecificReviewTableWrapper td:nth-of-type(4):before { content: "# Upvotes"; }
	.divUserSpecificReviewTableWrapper td:nth-of-type(5):before { content: " "; }
	.divUserSpecificReviewTableWrapper.tblReviewHasStrengthColumn td:nth-of-type(5):before { content: "Strength:"; }
	.divUserSpecificReviewTableWrapper.tblReviewHasFlavoringColumn td:nth-of-type(5):before { content: "Flavoring:"; }
	.divUserSpecificReviewTableWrapper.tblReviewHasTasteColumn td:nth-of-type(5):before { content: "Taste:"; }
	.divUserSpecificReviewTableWrapper.tblReviewHasRoomNoteColumn td:nth-of-type(5):before { content: "Room Note:"; }
	.divUserSpecificReviewTableWrapper td:nth-of-type(6):before { content: " "; }	
} 

.fl-page-content .anchDeleteLink {
	color: red;
}

/* advanced search styling */



.divMoreSearchFieldsWrapper {
    border: 1px solid #ccc;
    padding: 10px;
}

.divMoreSearchFieldsToggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.divMoreSearchFieldsInputs {
    display: none;
    padding: 10px;
}
/* need to add a class that auto opens */




.divUserProfileImageReplacement {
   
	
	border: 1.5px solid #a88c5c;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #a88c5c;
	background: #260f09;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	line-height: 43px;
}

.detailProfile .row.profileLegend {
	font-size: 10px;
	text-align: center;
	cursor: help;
	padding: 3px 0px;
	margin: 0px auto;
	align-items: center;
  	justify-content: center;
}
/* bolding search results in blend */
.spanFoundSearchString {
	font-weight: 900 !important;
}
/* quick styling for main nav avatar */
/*>> Erika grabbed this and put in my css file*/
/*.divBannerDropdownWrapper {
    position: relative;
}

.divUserProfileLink {
	border: 2px solid white;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	color: white;
}
.divUserProfileLink:hover {
	
}
.divUserProfileLinkDropDown {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
	z-index: 10;
}*/


/* quick fix to see text on homepage search */

<!-- overwriting star styling with ids I just added -->

polygon#star,
polygon#star-left {
	fill: rgba(168, 140, 92, 1);
}
polygon#star-empty,
polygon#star-right {
	fill: transparent;
}
.polyStar {
	stroke: rgba(168, 140, 92, 1);
}

<!-- so i can see some things Im testing -->
.divHomepageSearchWrapper .txtSearchInput {
	color: black;
}

<!--- REVIEW SCROLL TO AND BACKGROUND FLASH -->

.divScrollTo {
  /* Original background color */
  background-color: #ffffff;
  transition: background-color 0.5s ease;
}

.divScrollTo.highlighted {
  /* Transition to gray */
  background-color: #dddddd;
}
/* TABLES SWITCHING TO 1 ROW */
.divTableWrapper.divBrandTableWrapper {
    overflow-x: auto;
 }

.divTableWrapper.divBrandTableWrapper table {
	width: 100%;
	display: table;
}

@media (max-width: 500px) {
 
  .divTableWrapper.divBrandTableWrapper th,
  .divTableWrapper.divBrandTableWrapper td {
    white-space: nowrap;
  }

  .divTableWrapper.divBrandTableWrapper td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
}




